<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
  <script>
    // Function to perform the redirect after a delay
    function delayedRedirect() {
      // Delay for 15 seconds (15000 milliseconds)
      setTimeout(() => {
        // Redirect to the new location
        window.location.href = 'https://www.husky.nz';
      }, 15000);
    }

    // Call the function when the page loads
    window.onload = delayedRedirect;
  </script>
</head>
<body>
  <p>Redirecting to <a href="https://www.husky.nz">https://www.husky.nz</a> in 15 seconds... due to no location provided</p>
</body>
</html>

