---
// Perform the redirection
return new Response(null, {
    status: 302,
    headers: {
      Location: "https://www.husky.nz",
    }})
---

<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting you to HuskyNZ's main site due to no location beain provided...</p>
</body>
</html>
