---
import { createClient } from "@supabase/supabase-js";

const supabaseUrl = import.meta.env.SUPABASE_URL;
const supabaseKey = import.meta.env.SUPABASE_KEY;
const supabase = createClient(supabaseUrl, supabaseKey);

async function handleLogin(event) {
  event.preventDefault();
}

async function signInWithGithub() {
  const { data, error } = await supabase.auth.signInWithOAuth({
    provider: "github",
  });
}

function withGithub() {
  signInWithGithub();
  return "";
}
---

<html lang="en">
  <head>
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold mb-6 text-center">Login</h1>
      <button onclick={withGithub}>Sign in with the octo boy</button>
    </div>
  </body>
</html>
